src/main/mule/Subscribejms.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="SubscribejmsFlow" doc:id="bb52ba36-d718-4e41-b37a-81b435801e8e" >
		<jms:listener doc:name="On New Message" doc:id="c21cebdd-ef48-4c34-abb9-1d5ff4875170" config-ref="JMS_Config" destination="Monster.Profile" inboundContentType="application/json">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="INFO" doc:name="Logger" doc:id="bcd1d666-b630-4dba-a501-41dccb8b03c1" message="#[payload]"/>
	</flow>
</mule>
